@import "tailwindcss";

@theme {
  --color-app-green: #1B3022;
  --color-app-green-dark: #14251A;
  --color-app-cream: #FFFFFF;
  --color-app-border: #E5E7EB;
  --color-app-orange: #F57C00;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}